{{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.subject) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.content) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.tag) }}
        </div>
    </div>
    <div class="save_container">
        <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}
