{{ form_start(form) }}

<div class="row">
    {{ include('partial/_flash_messages.html.twig') }}
</div>

    <div class="row">
        <div class="col">{{ form_row(form.programChannels) }}</div>
    </div>
    <div class="row">
        <div class="col" style="text-align:center;">
            {{ form_row(form.simulate) }}
        </div>
        {% if form.export is defined %}
        <div class="col" style="text-align:center;">
            {{ form_row(form.export) }}
        </div>
        {% endif %}
    </div>
{{ form_end(form) }}
