{% extends 'base.html.twig' %}

{% block title %}Répartitions des candidats - Session Skema{% endblock %}

{% block body %}
    <div class="nav_actions">
        <a href="{{ path('exam_distribution_index') }}" class="btn btn-secondary">Retour aux répartitions</a>
    </div>
    <hr />
    <h1>Répartitions - {{ campus.name }}</h1>
    <hr />
    
    {% for detail in exams %}
        {% for exam in detail %}
            <div class="d-flex justify-content-between">
                <h4>{{ exam['name'] }} - {{ exam['date'] }}</h4>
                <button class="btn btn-primary session-export" type="button" data-f="{{ exam['exportFileName'] }}" data-l="{{ path('exam_session_export', {'id': exam['id']})}}">
                    <span class="spinner-border spinner-border-sm session-export-spinner d-none" role="status" aria-hidden="true"></span>
                    <i class="bi bi-file-earmark-arrow-down session-export-icon"></i>
                    <span class="session-export-label">Générer les feuilles d'émargements</span>
                    <span class="session-export-label--loading d-none">Chargement...</span>
                </button>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Salle</th>
                    <th>Spécifique</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for student in exam['students'] %}
                    <tr>
                        <td>{% if student.student.user is not empty %}{{ student.student.user.lastName }}{% endif %}</td>
                        <td>{% if student.student.user is not empty %}{{ student.student.user.firstName }}{% endif %}</td>
                        <td>
                            {% if student.examRoom is not empty %}
                                {{ student.examRoom.name }}
                            {% else %}
                                <span class="badge bg-danger">À définir</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if student.specific %}
                                <span class="badge bg-primary">TT</span> {% if student.student.administrativeRecord.thirdTimeDetail is not empty %}({{ student.student.administrativeRecord.thirdTimeDetail }}){% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-warning me-2 action-edit" href="{{ path('exam_distribution_edit', {'campus': campus.id, 'id': student.id}) }}"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td>
                            {{ include('exam/distribution/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br />
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/button-export.js') }}"></script>
{% endblock %}